<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <form action="/dashboard/history-users/add" method="POST">
            <div class="mb-3">
                <label for="user" class="form-label">User</label>
                <select class="form-select" id="user" name="user" required>
                    <option value="1">User1</option>
                    <option value="2">User2</option>
                    <option value="3">User3</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Time (Minute)</label>
                <input type="number" class="form-control" id="time" name="time" placeholder="Enter Time" required>
            </div>
            <div class="mb-3">
                <label for="score" class="form-label">Score</label>
                <input type="number" class="form-control" id="score" name="score" placeholder="Enter Score" required>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>